// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// messages
@import "messages";


body {
    background: lightgray;
    font-family: "proxima-nova", "Source Sans Pro", sans-serif;
    font-size: 1em;
    letter-spacing: 0.1px;
    color: #333;
}

.btn.btn-primary {
    background: #2c3e50 !important;
}

footer, nav {
    background: #2c3e50 !important;
    color: white;
    text-align: center;
}

footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
}

nav a {
    color: white !important;
}

.card {
    border: none;
}

.card-header {
    background: #2c3e50;
    color: white;
    font-weight: bold;
}

.profile-image {
    height: 30px;
    width: auto;
}

input.error {
    outline: red;
}

label.error {
    color: #e6550d;
    font-size: 80%;
    margin-left: 8px;
}
