// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.footer {
    position: relative;
    bottom: 150px;
    height: 150px;
    clear:both;
    padding-top:20px;
}
